Repository linkarchive/Back-End, pull requests merged in 2023-06, with the labels that each got.

#130 링크 도메인 클래스 테스트 코드 작성 / 테스트 코드 구조 및 셋업 데이터 분리
  src/test/java/project/linkarchive/backend/link/domain/LinkTest.java
  src/test/java/project/linkarchive/backend/profileImage/domain/ProfileImageTest.java
  src/test/java/project/linkarchive/backend/user/domain/UserTest.java
  src/test/java/project/linkarchive/backend/user/repository/UserRepositoryTest.java
  src/test/java/project/linkarchive/backend/util/constant/Constants.java
  src/test/java/project/linkarchive/backend/util/repository/UserSetUpRepository.java
  src/test/java/project/linkarchive/backend/util/setUpData/LinkSetUpData.java
  src/test/java/project/linkarchive/backend/util/setUpData/ProfileImageSetUpData.java
  src/test/java/project/linkarchive/backend/util/setUpData/SetUpData.java
  src/test/java/project/linkarchive/backend/util/setUpData/UserSetUpData.java
Labels: test

#131 Feat/security exception handling
  build.gradle
  src/main/java/project/linkarchive/backend/advice/exception/ExceptionCodeConst.java
  src/main/java/project/linkarchive/backend/security/AuthenticationEntryPointImpl.java
  src/main/java/project/linkarchive/backend/security/TokenAuthenticationFilter.java
  src/main/java/project/linkarchive/backend/util/JwtUtil.java
Labels: feat

#132 해시태그 도메인 테스트 코드 작성
  src/test/java/project/linkarchive/backend/hashtag/domain/HashTagTest.java
  src/test/java/project/linkarchive/backend/util/setUpData/HashTagSetUpData.java
Labels: test

#137 링크 - 레포지토리 관련 테스트 코드 작성
  src/test/java/project/linkarchive/backend/link/domain/LinkTest.java
  src/test/java/project/linkarchive/backend/link/repository/LinkRepositoryTest.java
  src/test/java/project/linkarchive/backend/util/constant/Constants.java
  src/test/java/project/linkarchive/backend/util/repository/LinkSetUpRepository.java
  src/test/java/project/linkarchive/backend/util/setUpData/LinkSetUpData.java
Labels: test

#138 해시태그 - 레포지토리 관련 테스트 코드 작성
  src/main/java/project/linkarchive/backend/advice/exception/ExceptionCodeConst.java
  src/test/java/project/linkarchive/backend/hashtag/repository/HashTagRepositoryTest.java
  src/test/java/project/linkarchive/backend/util/repository/HashTagSetUpRepository.java
Labels: test

#139 유저가 자주 사용하는 해시태그 - 레포지토리 관련 테스트 코드 작성
  src/main/java/project/linkarchive/backend/advice/exception/ExceptionCodeConst.java
  src/test/java/project/linkarchive/backend/hashtag/repository/HashTagRepositoryTest.java
  src/test/java/project/linkarchive/backend/hashtag/repository/UserHashTagRepositoryTest.java
  src/test/java/project/linkarchive/backend/util/repository/UserHashTagSetUpRepository.java
Labels: test

#140 북마크 - 레포지토리 관련 테스트 코드 작성
  src/test/java/project/linkarchive/backend/bookmark/repository/BookMarkRepositoryTest.java
  src/test/java/project/linkarchive/backend/util/repository/BookMarkSetUpRepository.java
Labels: test

#141 링크 둘러보기 조회 시 이미지 파일 generate화
  src/main/java/project/linkarchive/backend/link/response/linkarchive/UserArchiveResponse.java
  src/main/java/project/linkarchive/backend/link/service/LinkQueryService.java
Labels: feat

#143 fix: publish token
  src/main/java/project/linkarchive/backend/auth/controller/OAuthController.java
  src/main/java/project/linkarchive/backend/auth/repository/RefreshTokenRepository.java
  src/main/java/project/linkarchive/backend/auth/service/OAuthService.java
Labels: refactoring

#148 Feat/token validation
  src/main/java/project/linkarchive/backend/advice/exception/ExceptionCodeConst.java
  src/main/java/project/linkarchive/backend/auth/controller/OAuthController.java
  src/main/java/project/linkarchive/backend/auth/service/OAuthService.java
  src/main/java/project/linkarchive/backend/security/SecurityExceptionHandler.java
  src/main/java/project/linkarchive/backend/security/TokenAuthenticationFilter.java
  src/main/java/project/linkarchive/backend/util/JwtUtil.java
Labels: refactoring

#151 웹 크롤링 API 리팩토링 및 Data Constants 생성
  src/main/java/project/linkarchive/backend/advice/data/DataConstants.java
  src/main/java/project/linkarchive/backend/advice/exception/ExceptionCodeConst.java
  src/main/java/project/linkarchive/backend/advice/exception/ExceptionController.java
  src/main/java/project/linkarchive/backend/advice/success/SuccessCodeConst.java
  src/main/java/project/linkarchive/backend/auth/controller/OAuthController.java
  src/main/java/project/linkarchive/backend/auth/domain/RefreshToken.java
  src/main/java/project/linkarchive/backend/auth/request/AccessTokenRequest.java
  src/main/java/project/linkarchive/backend/auth/response/AccessTokenResponse.java
  src/main/java/project/linkarchive/backend/auth/response/LoginResponse.java
  src/main/java/project/linkarchive/backend/auth/response/RefreshTokenResponse.java
  src/main/java/project/linkarchive/backend/auth/service/OAuthService.java
  src/main/java/project/linkarchive/backend/bookmark/controller/BookMarkQueryController.java
  src/main/java/project/linkarchive/backend/bookmark/service/BookMarkQueryService.java
  src/main/java/project/linkarchive/backend/config/SecurityConfig.java
  src/main/java/project/linkarchive/backend/hashtag/controller/HashTagQueryController.java
  src/main/java/project/linkarchive/backend/hashtag/repository/UserHashTagRepositoryImpl.java
  src/main/java/project/linkarchive/backend/hashtag/service/HashTagApiService.java
  src/main/java/project/linkarchive/backend/hashtag/service/HashTagQueryService.java
  src/main/java/project/linkarchive/backend/link/controller/LinkQueryController.java
  src/main/java/project/linkarchive/backend/link/response/LinkMetaDataResponse.java
  src/main/java/project/linkarchive/backend/link/service/LinkApiService.java
  src/main/java/project/linkarchive/backend/link/service/LinkQueryService.java
  src/main/java/project/linkarchive/backend/profileImage/response/ProfileImageResponse.java
  src/main/java/project/linkarchive/backend/s3/S3Uploader.java
  src/main/java/project/linkarchive/backend/security/SecurityExceptionHandler.java
  src/main/java/project/linkarchive/backend/security/TokenAuthenticationFilter.java
  src/main/java/project/linkarchive/backend/user/controller/UserApiController.java
  src/main/java/project/linkarchive/backend/user/service/UserApiService.java
  src/main/java/project/linkarchive/backend/user/service/UserQueryService.java
  src/main/java/project/linkarchive/backend/util/JwtUtil.java
Labels: refactoring

#152 닉네임 입력 시 정규표현식 검증을 추가했어요 / 로컬 로그인 카카오 로그인 분리했어요
  src/main/java/project/linkarchive/backend/advice/data/DataConstants.java
  src/main/java/project/linkarchive/backend/advice/exception/ExceptionCodeConst.java
  src/main/java/project/linkarchive/backend/auth/controller/OAuthController.java
  src/main/java/project/linkarchive/backend/auth/service/OAuthService.java
  src/main/java/project/linkarchive/backend/user/controller/UserApiController.java
  src/main/java/project/linkarchive/backend/user/service/UserApiService.java
  src/main/java/project/linkarchive/backend/util/JwtUtil.java
Labels: refactoring

#153 욕설 방지 기능 추가
  src/main/java/project/linkarchive/backend/advice/exception/ExceptionCodeConst.java
  src/main/java/project/linkarchive/backend/advice/exception/custom/ForbiddenException.java
  src/main/java/project/linkarchive/backend/badword/BadWordFiltering.java
  src/main/java/project/linkarchive/backend/badword/BadWordList.java
  src/main/java/project/linkarchive/backend/badword/BadWordSystem.java
  src/main/java/project/linkarchive/backend/user/service/UserApiService.java
Labels: feat

#154 Feat/profile image key
  src/main/java/project/linkarchive/backend/advice/exception/ExceptionCodeConst.java
  src/main/java/project/linkarchive/backend/s3/S3Uploader.java
Labels: refactoring

#155 유저 DTO 관련 테스트 코드에요..!
  src/test/java/project/linkarchive/backend/user/request/UpdateNicknameRequestTest.java
  src/test/java/project/linkarchive/backend/user/request/UpdateProfileRequestTest.java
  src/test/java/project/linkarchive/backend/user/response/ProfileResponseTest.java
  src/test/java/project/linkarchive/backend/user/response/UpdateNicknameResponseTest.java
  src/test/java/project/linkarchive/backend/user/response/UpdateProfileResponseTest.java
Labels: test

#156 유저 도메인 관련 테스트 코드 수정했어요!
  src/main/java/project/linkarchive/backend/auth/service/OAuthService.java
  src/main/java/project/linkarchive/backend/user/domain/User.java
  src/main/java/project/linkarchive/backend/user/service/UserApiService.java
  src/test/java/project/linkarchive/backend/user/domain/UserTest.java
Labels: test

#161 Feat/add created at link response
  src/main/java/project/linkarchive/backend/bookmark/repository/BookMarkRepositoryImpl.java
  src/main/java/project/linkarchive/backend/bookmark/response/MarkResponse.java
  src/main/java/project/linkarchive/backend/bookmark/response/UserMarkResponse.java
  src/main/java/project/linkarchive/backend/link/repository/LinkRepositoryImpl.java
  src/main/java/project/linkarchive/backend/link/response/linkList/LinkResponse.java
  src/main/java/project/linkarchive/backend/link/response/linkList/UserLinkResponse.java
  src/main/java/project/linkarchive/backend/link/response/linkarchive/ArchiveResponse.java
  src/main/java/project/linkarchive/backend/link/response/linkarchive/UserArchiveResponse.java
Labels: feat

#162 프로필이미지 DTO 관련 테스트 코드
  build.gradle
  src/test/java/project/linkarchive/backend/bookmark/repository/BookMarkRepositoryTest.java
  src/test/java/project/linkarchive/backend/hashtag/repository/HashTagRepositoryTest.java
  src/test/java/project/linkarchive/backend/hashtag/repository/UserHashTagRepositoryTest.java
  src/test/java/project/linkarchive/backend/link/repository/LinkRepositoryTest.java
  src/test/java/project/linkarchive/backend/profileImage/repository/ProfileImageRepositoryTest.java
  src/test/java/project/linkarchive/backend/profileImage/response/ProfileImageResponseTest.java
  src/test/java/project/linkarchive/backend/user/domain/UserTest.java
  src/test/java/project/linkarchive/backend/user/repository/UserRepositoryTest.java
Labels: test

#164 Link DTO 생성 관련 테스트 코드 구현
  .gitignore
  src/main/java/project/linkarchive/backend/link/response/linkList/UserLinkResponse.java
  src/main/java/project/linkarchive/backend/link/response/linkarchive/UserArchiveResponse.java
  src/main/java/project/linkarchive/backend/link/service/LinkQueryService.java
  src/test/java/project/linkarchive/backend/link/request/CreateLinkRequestTest.java
  src/test/java/project/linkarchive/backend/link/response/LinkMetaDataResponseTest.java
  src/test/java/project/linkarchive/backend/link/response/linkList/LinkResponseTest.java
  src/test/java/project/linkarchive/backend/link/response/linkList/UserLinkListResponseTest.java
  src/test/java/project/linkarchive/backend/link/response/linkList/UserLinkResponseTest.java
  src/test/java/project/linkarchive/backend/link/response/linkarchive/ArchiveResponseTest.java
  src/test/java/project/linkarchive/backend/link/response/linkarchive/UserArchiveResponseTest.java
  src/test/java/project/linkarchive/backend/link/response/linkarchive/UserLinkArchiveResponseTest.java
  src/test/java/project/linkarchive/backend/user/request/UpdateNicknameRequestTest.java
  src/test/java/project/linkarchive/backend/user/request/UpdateProfileRequestTest.java
  src/test/java/project/linkarchive/backend/util/constant/Constants.java
  src/test/java/project/linkarchive/backend/util/setUpData/LinkSetUpData.java
  src/test/java/project/linkarchive/backend/util/setUpData/SetUpData.java
  src/test/java/project/linkarchive/backend/util/setUpData/UserSetUpData.java
Labels: test
